.footer {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100vw;

   position: absolute;
   bottom: 1rem;

   a {
      width: 3.45rem;
      height: 3.45rem;
      padding: 0.25rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 2px solid rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(2px);
      border-radius: 0.75rem;

      transition: all 300ms;

      &:focus {
         outline: solid black 2px;
         outline-offset: 2px;
      }

      &:hover {
         transform: translateY(-0.5rem) scale(1.1);
      }

      & + a {
         margin-left: 0.95rem;
      }
   }

   .twitter:hover {
      background-color: #1da1f2;

      svg {
         fill: #ffffff;
      }
   }
   .linkedin:hover {
      background-color: #0077B5;

      svg {
         fill: #ffffff;
      }
   }
   .github:hover {
      background-color: #333333;

      svg {
         fill: #ffffff;
      }
   }
   .source:hover {
      background-color: #1E741E;

      svg {
         fill: #ffffff;
      }
   }
   .rocketseat:hover {
      background-color: #8257e5;

      svg {
         fill: #ffffff;
      }
   }
}

html[data-theme="light"] .footer a {
   background-color: rgba(255, 255, 255, 0.5);
}

html[data-theme="dark"] .footer a {
   background-color: rgba(0, 0, 0, 0.5);
}