* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;

   color: #fff;
   text-shadow: 0 0 5px #000;
   text-align: justify;
   -webkit-font-smoothing: antialiased;
}

::-moz-selection { /* Code for Firefox */
   background: red;
   color: white;
   text-shadow: none;
   transition: all 200ms;
}
 
 ::selection {
   background: red;
   color: white;
   text-shadow: none;
   transition: all 200ms
 }

html {
   background-color: #000;
}

#__next {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

body {
   background-image: url(../../public/images/WebsiteBackground.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

@media (max-width: 1279px) {
   html {
      font-size: 93.75%; //15px
   }
}
@media (max-width: 1080px) {
   html {
      font-size: 87.5%; //14px
   }
}
@media (max-width: 768px) {
   html {
      font-size: 81.25%; //13px
   }
}
@media (max-width: 480px) {
   html {
      font-size: 75%; //12px
   }
}

body, input, textarea, button {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
   font-weight: 600;
}

button, a {
   cursor: pointer;
}

[disabled] {
   opacity: 0.6;
   cursor: not-allowed;
}

a {
   text-decoration: none;
   color: inherit;
}

