.content {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   max-width: 1080px;
   height: 90vh;
   margin: 0 auto;
   height: 100%;
   padding: 1rem;

   background-color: rgba($color: #000, $alpha: 0.7);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 0.5rem;
   box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
}