.content {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   max-width: 1080px;
   margin: 0 auto;
   height: 100%;
   padding: auto 1rem;

   background-color: rgba($color: #000000, $alpha: 0.65);

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;

   .profile {
      flex: 1;

      text-align: center;

      img {
         border-radius: 0.5rem;
      }

      h1 {
         font-size: 2rem;
         font-weight: 700;
         margin-top: 1rem;
         letter-spacing: 1px;

         text-decoration: underline;
         text-decoration-color: red;
         text-underline-offset: 0.2rem;
      }

      h2 {
         color: #e9e9e9;
         letter-spacing: 1px;
         font-weight: 500;
         font-size: 1.5rem;
         margin-top: 0.5rem;
      }
   }

   .about {
      flex: 1;

      h3 {
         font-size: 2rem;
         font-weight: 800;
         margin-top: 1rem;
         letter-spacing: 1px;
      }

      p {
         margin-top: 2rem;
         padding-left: 1rem;

         font-size: 1.5rem;
         font-weight: 500;
      }

      ul {
         margin-top: 1rem;
         font-size: 1.25rem;

         li {
            padding-left: 2rem;

            display: flex;
            align-items: center;

            span {
               margin: 0 0.5rem;
               font-size: 1.75rem; 
               cursor: default;
            }
         }
      }
   }
}

@media (max-width: 958px) {
   .container {
      flex-direction: column;
   }

   .profile {
      margin-bottom: 3rem;
      margin-top: 2rem;
   }

   .about {
      padding: 0 3rem;
   }
}