.container {
   position: absolute;
   right: 1rem;
   top: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.moonIcon {
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   transition: all 500ms;
   width: 2.25rem;
   height: 2.25rem;
   z-index: 99999;
   color: black;
   cursor: pointer;

   &:focus {
      outline: solid #999 2px 2px;
   }
}

.sunIcon {
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 50%;
   transition: all 500ms;
   width: 2.25rem;
   height: 2.25rem;
   z-index: 99999;
   color: rgb(255, 220, 0);
   cursor: pointer;

   &:focus {
      outline: solid #999 2px 2px;
   }
}