.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   
   width: 100%;
   padding: 0.5rem 1rem;
   margin-bottom: 1rem;

   background-color: #000;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);

   .logo {
      display: flex;
      align-items: center;
      justify-self: center;

      h1 {
         letter-spacing: 1px;

         font-size: 1.5rem;
         font-weight: 900;
         color: #fff;
      }
   }

   nav {
      display: flex;
      align-items: center;
      justify-content: center;

      transition: all 250ms;

      a {
         font-size: 1rem;
         font-weight: 700;

         letter-spacing: 1px;
         padding: 0.5rem;

         transition: all 200ms;

         &:hover {
            // opacity: 0.8;
            color: red;
            transform: scale(1.1);
         }

         & + a {
            margin-left: 1rem;
         }
      }
   }

   div {
      label {
         font-size: 1rem;
         font-weight: 600;
      }

      select {
         border: none;
         border-radius: 0.5rem;
         background-color: transparent;
         color: #fff;
      }
   }
}

@media(max-width: 698px){
   .header {
      flex-wrap: wrap;

      nav {
         flex-basis: 100%;
         order: 2;
      }
   }
}